:host {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.title {
  margin: 0 0.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3f3f3f;
}
.title img {
  width: 2rem;
  height: 2rem;
}
.container {
  background-color: #fff;
}