.container {
  position: relative;
  overflow: hidden;
}
.container .image-slider{
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* 吸附效果，强制在横轴上吸附 */
  scroll-snap-type: x mandatory;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 吸附具体方式，图片的起始位置 */
  scroll-snap-align: start;
}
.nav-section{
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.slide-button {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 5px;
}
.slide-button-select{
  background-color: red;
}