ul li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}
ul {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
.active {
  color: red;
}
.first{
  color: green;
}
.last{
  color: pink;
}
.indicalor{
  // background: red;
  height: 2px;
  width: 2rem;
  margin-top: 2px;
}